        body,
        html {
            height: 100%;
            margin: 0;
            background-image: linear-gradient(to right, #f7f1f1, rgb(151, 185, 216));
            /* overflow: hidden; */
        }
        
         :root {
            --wp-admin-theme-color: #007cba;
            --wp-admin-theme-color-darker-10: #006ba1;
            --wp-admin-theme-color-darker-20: #005a87;
        }
        
        body {
            font-family: Open Sans, Arial, sans-serif;
            font-size: 14px;
            color: black;
            background-color: #fff;
            line-height: 1.7em;
            font-weight: 500;
            -webkit-font-smoothing: antialiased;
        }
        
        .bg {
            background-image: url(/assets/bg.jpg);
            opacity: 0.8;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
        
        .navbar {
            display: flex;
            flex-wrap: wrap;
            background-color: rgba(255, 255, 255, 0.171);
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            position: sticky;
        }
        
        .navbar a {
            text-decoration: none;
            color: inherit;
        }
        
        .list a {
            font-size: 30px;
            font-weight: bold;
            padding-right: 15px;
            letter-spacing: 1px;
            color: black;
        }
        
        .list li:hover {
            animation: pulsate 1s ease-in-out;
        }
        
        .logo {
            margin-right: 50px;
        }
        
        @keyframes pulsate {
            0% {
                box-shadow: 0 0 25px rgb(34, 32, 32), 0 0 25px #78777a;
            }
        }
        
        .list {
            list-style: none;
            display: flex;
            gap: 25px;
        }
        
        #toggler,
        .navbar label {
            display: none;
        }
        
        .container {
            margin-top: 200px;
            height: 700px;
            width: 60%;
            z-index: 3;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
        
        .content {
            align-self: center;
            width: 100%;
            height: 60%;
        }
        
        h1 {
            font-family: 'Ubuntu', Helvetica, Arial, Lucida, sans-serif;
            font-weight: 800;
            font-size: 90px;
            /* line-height: 1.2em; */
        }
        
        .content {
            font-weight: 600;
            font-size: 45px;
            line-height: 1.2em;
        }
        
        @media screen and (max-width: 600px) {
            .menu {
                width: 100%;
                max-height: 0;
                overflow: hidden;
            }
            .list {
                flex-direction: column;
                align-items: center;
                padding: 20px;
            }
            .navbar label {
                display: inline-flex;
                align-items: center;
                cursor: pointer;
            }
            #toggler:checked .menu {
                max-height: 100%;
            }
        }
        
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #9bcb3d;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 15%;
            height: auto;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }
        
        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
        
        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
        
        .button:hover span {
            padding-right: 25px;
        }
        
        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
        
        #button2 {
            background-color: #1e97c0;
        }
        
        .container1 {
            margin-top: 2px;
            height: 350px;
            width: 80%;
            z-index: 3;
            margin-left: auto;
            margin-right: 1px;
            position: relative;
            background-image: linear-gradient(90deg, #1e97c0 0%, rgba(30, 151, 192, 0.5) 100%)!important;
        }
        
        .container2 {
            margin-top: 17px;
            height: 350px;
            width: 80%;
            z-index: 3;
            margin-left: 1px;
            margin-right: auto;
            position: relative;
            background-color: #ffffff!important;
        }
        
        .container3 {
            height: auto;
            width: 80%;
            z-index: 3;
            margin-left: 1px;
            margin-right: auto;
            position: relative;
            background-color: transparent;
            background: transparent;
            ;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .column {
            float: left;
            width: 30%;
            margin-top: 5.5%;
            font-family: 'Ubuntu', Helvetica, Arial, Lucida, sans-serif;
            font-weight: 700;
            font-size: 25px;
            line-height: 1.8em;
            margin-left: 10px;
            margin-right: 10px;
            align-content: center;
            text-align: center;
            background: transparent;
        }
        
        .row:after {
            content: "";
            display: table;
            clear: both;
            background: transparent;
        }
        
        .img9 {
            color: black;
            padding-bottom: 10px;
            line-height: 1em;
            font-weight: bold;
            -webkit-text-size-adjust: 100%;
            vertical-align: baseline;
            font-size: 60px;
        }